--find-links https://github.com/pubbothq/geventirc/archive/master.zip#egg=geventirc-0.1dev
--find-links https://www.djangoproject.com/download/1.7c2/tarball/#egg=Django-1.7c1

beautifulsoup4==4.3.2
Django==1.7c1
dj-database-url==0.2.2
psycopg2==2.5.1
South==1.0
django-zap==0.0.1
gevent==1.0.1
greenlet==0.4.1
gevent-psycopg2==0.0.3
geventirc==0.1dev
gunicorn==18.0
requests==2.0.0

# Install our main egg
-e .

# Testing stuff
flake8
