--find-links https://github.com/pubbothq/geventirc/archive/master.zip#egg=geventirc-0.1dev
--find-links https://www.djangoproject.com/download/1.7c2/tarball/#egg=Django-1.7c1

beautifulsoup4==4.3.2
Django==1.7c1
gevent==1.0.1
greenlet==0.4.2
geventirc==0.1dev
requests==2.3.0

# Install our main egg
-e .

# Testing stuff
flake8
