--find-links https://github.com/surfly/gevent/releases/download/1.0rc3/gevent-1.0rc3.tar.gz#egg=gevent-1.0rc3
--find-links https://github.com/pubbothq/geventirc/archive/master.zip#egg=geventirc-0.1dev
--find-links https://github.com/celery/celery/archive/master.zip#egg=celery-3.1rc4

# Install our main egg
-e .

# Test dependencies
django-discover-runner

# These aren't part of the project, but are useful for dev/deployment
supervisor==3.0

